footer {
  position: relative;
  overflow: hidden;
  background-color: #0a142f;
  width: 100%;
  line-height: 125%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
}

.circle {
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
  border: 100px solid rgba(255, 255, 255, 0.925);
}

.lg-circle {
  width: 600px;
  height: 600px;
  right: -35%;
  top: -70%;
}

.sm-circle {
  border-width: 50px;
  border-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  height: 300px;
  bottom: -35%;
  left: -15%;
}

.fa-phone-alt,
.fa-whatsapp,
.fa-envelope,
.fa-clock {
  color: #0081fe;
  transform: scale(1.2);
}

.fa-facebook-f,
.fa-instagram,
.fa-twitter,
.fa-youtube {
  color: #fff;
  transform: scale(1.1);
}

.footer-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5rem auto;
}

.column,
.column-links {
  display: flex;
  flex-direction: column;
}

.column {
  width: 20%;
  margin-bottom: 2rem;
  margin-right: 5rem;
}

.column-name {
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.footer-link {
  color: rgba(255, 255, 255, 0.65);
  margin: 0.5rem 0;
  transition: all ease-in-out 200ms;
}

.footer-link:hover {
  color: #fff;
}

.footer-icon {
  margin-right: 0.6rem;
}

.social-icon {
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.copy-right {
  color: rgba(255, 255, 255, 0.85);
  margin: 0.5rem 0;
}

@media screen and (max-width: 840px) {
  .footer-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .column {
    width: 75%;
  }
  .column-name {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 475px) {
  .footer-nav {
    grid-template-columns: 1fr;
    width: initial;
  }
  .column {
    margin-right: 0;
  }
}
